[submodule "T80"]
	path = T80
	url = https://github.com/rampa069/T80.git
	branch = r800
[submodule "mist-modules"]
	path = mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "ocm-pld-dev"]
	path = ocm-pld-dev
	url = https://github.com/gnogni/ocm-pld-dev.git
[submodule "v9990"]
	path = v9990
	url = https://github.com/rampa069/v9990.git
[submodule "IKAOPLL"]
	path = IKAOPLL
	url = https://github.com/ika-musume/IKAOPLL
[submodule "R800"]
	path = R800
	url = https://github.com/rampa069/R800.git
